.form-row {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-send {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin: 20px 20px 0;
}

.alert {
    margin-top: 75px;
    justify-content: center;
    align-items: center;
    width: 50%;
}

